// Developed by OHZI Interactive | https://ohzi.io
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover")

    include views/common/meta

    title OHZI Interactive

    link(rel="icon", type="image/png", href="assets/images/common/favicon.png")
    link(href='css/application.scss', rel="stylesheet")

    if (process.env.NODE_ENV !== 'development')
      include views/common/conversions.html

  body
    include views/common/author

    .container
      .canvas-container
        canvas.main-canvas

      //- __SECTIONS__
      include views/home/home

      //- __COMPONENTS__

      .reusable-elements

      include views/loader/loader

    script(src='init.js')

    if (process.env.NODE_ENV !== 'development')
      include views/common/conversions_body.html
