$small-breakpoint:   400px;
$medium-breakpoint:  960px;
$wide-breakpoint:    1366px;

// $sf-font: 'SF Pro Display' !default;

// Pixel to rem
$ptr: 0.0625rem;

// @font-face{
//     font-family: $sf-font;
//     src: url('/assets/fonts/sfprodisplaylight.otf') format('opentype'),
//          url('/assets/fonts/sfprodisplaylight.ttf') format('truetype');  /* Safari, Android, iOS */
// }

@mixin respond-to($breakpoint) {
    @media screen and (min-width: $breakpoint), print {
        @content;
    }
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html,
body {
    // This line makes the possibility to avoid event.preventDefault(); on on_mouse_wheel
    // Keep studying if this is a better solution

    margin: 0;
    width: 100%;
    height: 100%;

    position: fixed;
    touch-action: manipulation;
}

body {
    display: flex;
    // position: fixed;
    margin: 0;
    color: $primary-color;
    // font-family: $sf-font;
    font-family: 'Arial';
    font-weight: bold;
    flex-direction: column;
    overflow: hidden;
}

a {
    color: $primary-color;
    text-decoration: none;
}

div.hidden {
    display: none;
    pointer-events: none;
}

.reusable-elements {
    display: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #707070;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: $placeholder-color;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $placeholder-color;
}
