meta(name="description", content="OHZI Interactive")
link(rel="canonical", href="https://ohzi.io/")
meta(property="og:locale", content="en_US")
meta(property="og:type", content="website")
meta(property="og:title", content="OHZI Interactive")
meta(property="og:description", content="OHZI Interactive")
meta(property="og:url", content="https://ohzi.io/")
meta(property="og:site_name", content="OHZI Interactive")
meta(property="og:image", content="https://ohzi.io/banner.png")
meta(property="og:image:secure_url", content="https://ohzi.io/banner.png")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:description", content="OHZI Interactive")
meta(name="twitter:title", content="OHZI Interactive")
meta(name="twitter:image", content="https://ohzi.io/banner.png")
